body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    background-image: url("Globe.jpeg");
    background-size: cover;
}

.quiz-container {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1), 0 0 20px rgba(255, 255, 255, 0.6);
    padding: 60px;
    max-width: 70vw; /* Maintain maximum width */
    width: 100%; /* Ensure it takes up available width */
    margin: 0 auto; /* Center the container horizontally */
}

.quiz-container h2{
    color:#fff;
    padding:10px;
}

.quiz-header {
    color: #fff;
    text-align: center;
    margin-bottom: 30px;
}



.question {
    color: #fff;
    font-size: 1.7rem;
    margin-bottom: 20px;
}

.options {
    
    
    display: grid;
    gap: 15px;
    
}

.option {
    background-color: #333;
    color: #fff;
    border: 2px solid #dee2e6;
    border-radius: 15px;
    padding: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 1.2rem;
}

.option:hover {
    background-color: #555;
    border-radius: 15px;
}

.option.selected {
    background-color: #555;
    border-color: #0d6efd;
    border-radius: 15px;
}

.option.correct {
    background-color: #555;
    border-color: #28a745;
    border-radius: 15px;
    color: black;
}

.option.incorrect {
    
    border-color: #e74c3c;
    color:black;
    border-radius: 15px;
    
}
.option.disabled {
    pointer-events: none; /* Disable further clicks */
}
#check-btn{
    background-color: rgba(0, 128, 0, 0.35); /* Green with 70% opacity */
    color: #fff; /* White text */
    border: 1px solid rgba(102, 102, 102, 0.5); /* Subtle border with 50% opacity */
    border-radius: 8px; /* Rounded corners */
    padding: 15px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.2s ease-in-out; /* Smooth color transition */
}
#next-btn{
    background-color: #592b77; /* Purple-ish background */
    color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 10px;
    padding: 10px 20px; 
    cursor: pointer;
    transition: all 0.3s ease; 
}
.btn-primary{
    background-color: rgba(45, 84, 156, 0.5); /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 15px 32px; /* Some padding */
    text-align: center; /* Centered text */
    text-decoration: none; /* Remove underline */
    display: inline-block; /* Make the container inline-block */
    font-size: 16px; /* Increase font size */
    margin: 4px 2px; /* Some margin */
    cursor: pointer; /* Pointer/hand icon */
    border-radius: 12px; /* Rounded corners */
}

.btn-custom {
    background-color: rgba(45, 84, 156, 0.5); /* Green background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 15px 32px; /* Some padding */
    text-align: center; /* Centered text */
    text-decoration: none; /* Remove underline */
    display: inline-block; /* Make the container inline-block */
    font-size: 16px; /* Increase font size */
    margin: 4px 2px; /* Some margin */
    cursor: pointer; /* Pointer/hand icon */
    border-radius: 12px; /* Rounded corners */
}

.btn-custom:hover {
    background-color: rgba(32, 59, 109, 0.75); /* Darker green on hover */
    transition: ease-in 0.25s;
}

.next-btn {
    background-color: #592b77;
    color: #fff;
    padding: 18.5px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 280px; 
    margin-left: 0; 
    font-size: 1.2rem;
}

.quiz-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.timer {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
}

.progress {
    height: 10px;
    margin-bottom: 20px;
    background-color: #333;
    border-radius: 15px;
    
    
}

.progress-bar {
    height: 100%;
    width: 0%; /* Initially, the bar is empty */
    border-radius: 15px;
    
    background-color: #592b77; 
    transition: width 0.8s ease; /* Smooth transition for progress bar animation */
}

.results {
    text-align: center;
    color: #999999;
}

.result-icon {
    font-size: 4rem;
    margin-bottom: 20px;
    color: red;
}

.score {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: #999999;
}